body{
    background-color: rgba(45,45, 45, 0.849);
}

.box{
    width: 130px;
    height: 130px;
    margin-top: 5rem;
    border: 10px solid rgba(255, 255, 255, 0.848);
    background-color: rgba(0, 60, 255, 0.66);
    transform: teranslateX(0);
}